{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login / Register</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="#"> Feminine Care</a></li>
                <li><a href="#"> Summer Season</a></li>
                <li><a href="#"> COVID-19</a></li>
                <li><a href="#"> Offer</a></li>
                <li><a href="#">  Beauty, Health & Wellness</a></li>
            </ul>

        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>

                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login / Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                 <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>

                        <div class="hero__search__phone">
                          
                            <div class="header__cart">
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                                </ul>
                                <div class="header__cart__price">item: <span>$150.00</span></div>
                            </div>
               
                        </div>
                    </div>

                </div>
                

            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- Hero Section Begin -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all" data-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-expanded="true">
                            <i class="fa fa-bars"></i>
                            <span>All Category</span>
                        </div>

                        <ul id="navbarToggleExternalContent" class="nav-desk collapse show">
                            <li><a href="#">Shringar</a></li>
                            <li><a href="#">Health & Wellness</a></li>
                            <li><a href="#">Mom & Baby</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Household Goods</a></li>
                            <li><a href="#">Groceries</a></li>
                            <li><a href="#">Décor</a></li>
                            <li><a href="#">Feminine Care</a></li>
                            <li><a href="#"> Summer Season</a></li>
                            <li><a href="#">Extras</a></li>
                        </ul>
                    </div>
                </div>

               <!-- col 9 -->
               <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="#"> Feminine Care</a></li>
                            <li><a href="#"> Summer Season</a></li>
                            <li><a href="#"> COVID-19</a></li>
                            <li><a href="#"> Offer</a></li>
                            <li><a href="#">  Beauty, Health & Wellness</a></li>
                        </ul>
                    </nav>
                </div>
              
            </div>
        </div>
    </section>
   <!-- slider  -->
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <img src="img/5.webp" alt="Chicago" style="width: 100%;">
        </div>

        <div class="carousel-item">
          <img src="img/6.webp" alt="Los Angeles" style="width: 100%;height: 360px;">
        </div>

      </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

     </div>
     <!-- slider end -->

    <div class="space"></div>



    <section class="catogories">
    <div class="container d-flex catogories-div">
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-02-08-10-39-00_s5GYSKAoNH_hp_express_icon.gif" class="img-fluid catogories-image" title="hp express" alt="hp express">
                <span class="mt-2 mt-lg-0">HP Express</span>
            </div>
        </a>
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-02-08-10-39-00_vW0b8WnxyX_hot_deals_icon.gif" class="img-fluid catogories-image" title="hot deals" alt="hot deals">
                <span class="mt-2 mt-lg-0">Hot Deals</span>
            </div>
        </a>
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-02-08-10-39-00_3oQAuvNLB8_blogs_icon.gif" class="img-fluid catogories-image" title="blogs" alt="blogs">
                <span class="mt-2 mt-lg-0">Blogs</span>
            </div>
        </a>
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-02-08-10-39-00_HopJenJ3Dz_sell_with_us_icon.gif" class="img-fluid catogories-image" title="discount" alt="discount">
                <span class="mt-2 mt-lg-0">Sell With Us</span>
            </div>
        </a>
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-01-18-22-50-21_JpRtH1SPV4_new_arrivals_icon.gif" class="img-fluid catogories-image" alt="new arrivals" title="new arrivals">
                <span class="mt-2 mt-lg-0">New Arrivals</span>
            </div>
        </a>
    </div>
   </section>
  

    <!-- Banner Begin -->
   <!--  <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner__pic">
                        <img src="img/4.webp" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Banner End -->

   <div class="space"></div>

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">

                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="web/1.jpg">
                            <h5><a href="#">Face</a></h5>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="web/2.jpg">
                            <h5><a href="#">Eyes</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="web/3.jpg">
                            <h5><a href="#">Lips</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="web/4.jpg">
                            <h5><a href="#">Skin</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="web/5.jpg">
                            <h5><a href="#">Brush</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->



    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="box-heading">
                <h2 class="cnit-h2">NEW PRODUCT</h2>

                 <div class="float-right">
                   <a href="" style="color: #231f20;width: 90px;height: 0px;border: none;margin-top: 20px;" class="seeAll">See All &gt;</a>
                 </div>

            </div>
            <div class="row featured__filter">

                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="web/1.webp">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6>
                                <a href="#">
                                Eucerin Sun Oil Control Gel-Cream Dry Touch SPF50+ 50ml
                              </a>
                           </h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="web/2.webp">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">
                                Bioderma Pigmentbio Sensitive Areas 75ml </a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="web/3.webp">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="web/4.webp">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">SVR Sun Secure Blur Optical Mousse Cream SPF50 50ml</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>

                 <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="web/5.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Good Molecules Gentle Retinol Cream 30ml</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="web/6.webp">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Good Molecules Niacinamide Brightening Toner 120ML</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="web/7.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="web/2.webp">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Eucerin Sun Oil Control Gel-Cream Dry Touch SPF50+ 50ml</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner__pic">
                        <img src="img/4.webp" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

   <div class="space"></div>


   <section class="feature">
    <div class="feature__tablist pt-20">
        <div class="container">

            <div class="box-heading">
                <h2 class="cnit-h2">SHOP BY BRANDS</h2>
                 <div class="float-right">
                   <a href="" style="width: 90px;height: 0px;border: none;margin-top: 20px;" class="seeAll">See All &gt;</a>
                 </div>
            </div>

            <div class="clearfix"></div>

            <div class="nav d-flex" role="tablist">

                <a class="listItem" href="#">
                    <div class="image-block">
                        <img alt="Bosch" title="Bosch" class="img-fluid" src="brand/1.webp" style="">
                    </div>
                    <span class="brand-name">Beard</span>
                </a>

                <a class="listItem" href="#">
                    <div class="image-block">
                        <img alt="Ingco" title="Ingco" class="img-fluid" src="brand/2.webp" style="">
                    </div>
                    <span class="brand-name">Bio Foods Nepal</span>
                </a>
            
               <a class="listItem" href="#">
                    <div class="image-block">
                        <img alt="MPT" title="MPT" class="img-fluid" src="brand/3.webp" style="">
                    </div>
                    <span class="brand-name">Chemist at Play</span>
                </a>
                
                <a class="listItem" href="#">
                    <div class="image-block">
                        <img alt="Dingqi" title="Dingqi" class="img-fluid" src="brand/4.webp" style="">
                    </div>
                    <span class="brand-name">Dr Rhäzēs</span>
                </a>
                
                <a class="listItem" href="#">
                    <div class="image-block">
                        <img alt="KARCHER" title="KARCHER" class="img-fluid" src="brand/5.webp" style="">
                    </div>
                    <span class="brand-name">Eco Sathi Nepal</span>
                </a>
                
                <a class="listItem" href="#">
                    <div class="image-block">
                        <img alt="Black and Decker" title="Black and Decker" class="img-fluid" src="brand/6.webp" style="">
                    </div>
                    <span class="brand-name">Unilever</span>
                </a>
                
            </div>
        </div>
    </div>
  </section>


  <div class="mySection py-4">
      <div class="container">
        
          <div class="row">
              <div class="col-md-6 appImage">
                  <img src="3.png" alt="image">
              </div>

              <div class="col-md-6">
                 <h2 class="appTitle">For better user experience please download Our App</h2>
                 <div class="space"></div>
                 <div class="row app">
                    <img src="app.png" alt="image">
                   <img src="app1.png" alt="image">
                 </div>

              </div>
          </div>
      </div>
  </div>
    
    
   

        <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Freelancrunit</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>